.profile-page {
    &__wrapper {
        background-color: var(--white-color);
    }
}

.user-profile {
    margin: auto;
    max-width: 542px;
    padding: 8px 16px;

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    &__avatar {
        margin: 0 auto 20px;
    }

    &__title {
        margin: 0 auto;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
    }

    &__info {
        margin-bottom: 50px;
    }
}
