:root {
    --main-bg-color: #F3F4F6;

    --primary-color: #0078d2;
    --primary-color-darkened: #0067b3;
    --error-color: #EB3333;
    --border-color: #e5e5e5;

    --white-color: #fff;
    --black-color: #000000;

    --label-color: #878787;
    --text-color: #1E1E1E;
    
    --gray-color: #6B7A80;
    --gray-color-lighten: #999999;

    --base-box-shadow: 0 0 20px -15px #0000007d;
}
