.playground-card {
    background-color: var(--white-color);
    width: 100%;
    max-width: 600px;
    padding: 60px;
    border-radius: 10px;
    margin: 12px auto 52px;

    &__title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 8px;
    }

    &__examples {
        display: flex;
        flex-direction: column;
    }
}

.playground-example {
    padding-top: 16px;

    &__title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    &__link {
        display: block;
        margin-bottom: 16px;
    }

    &__button {
        width: 100%;
    }

    &:not(:last-child) {
        border-bottom: 1px solid rgb(220 220 220);
        padding-bottom: 16px;
    }
}
